body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
.nav {
  background-color: aquamarine;
  display: flex;
}
.nav-main {
  background-color: aquamarine;
  display: flex;
  list-style: none;
}
.nav-main ul {
  background-color: aquamarine;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.nav-main ul li {
  padding: 1%;
  margin: 2%;
}

.btn {
  background-color: blueviolet;
  border-radius: 8px;
  padding: 2%;
  width: -moz-fit-content;
  width: fit-content;
}
.post {
  min-width: -moz-fit-content;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
