{% extends "base.twig" %}
{% block cards %}
<div class="cards">
	<h1>Lorem ipsum</h1>
	<p class="main-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat explicabo ab modi necessitatibus impedit cumque obcaecati aspernatur vitae, inventore minus expedita aut sit repudiandae reiciendis corporis aliquid, facilis unde voluptatum.</p>
	<div id="header-bg"></div>
	<div class="row">
		<div class="col-sm-3 card" id="card1">
			<h2>Header</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quibusdam velit, distinctio beatae nostrum repellat, dolore fugit quia rerum itaque obcaecati in fugiat temporibus odio, numquam earum maxime commodi necessitatibus!</p>
		</div>
		<div class="col-sm-3 card" id="card2">
			<h2>Header</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quibusdam velit, distinctio beatae nostrum repellat, dolore fugit quia rerum itaque obcaecati in fugiat temporibus odio, numquam earum maxime commodi necessitatibus!</p>
		</div>
		<div class="col-sm-3 card" id="card3">
			<h2>Header</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quibusdam velit, distinctio beatae nostrum repellat, dolore fugit quia rerum itaque obcaecati in fugiat temporibus odio, numquam earum maxime commodi necessitatibus!</p>
		</div>
		<div class="col-sm-3 card" id="card4">
			<h2>Header</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quibusdam velit, distinctio beatae nostrum repellat, dolore fugit quia rerum itaque obcaecati in fugiat temporibus odio, numquam earum maxime commodi necessitatibus!</p>
		</div>
	</div>
</div>
{% endblock cards %}
{% block content %}
		<div class="posts">	
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
