{% if menu %}
	{% for item in items %}
		<div class="{{ item.classes | join(' ') }} w3-col s1">
			<a target="{{ item.target }}" href="{{ item.link }}" class="carma-btn">{{ item.title }}</a>
		</div>
	{% endfor %}
{% endif %}
